body {
  width: 7000px;
}

div.content {
  margin: 0;
  padding: 0;
}

.NichireiContainer:after {
  clear: both;
}

.NichireiContainer-body {
  position: relative;
  width: 100%;
}

ul.TasksHeading {
  position: sticky;
  top: 25px;
  margin-left: 120px;
  z-index: 1;
}

li.TasksHeading-date {
  width: 440px;
  height: 32px;
  line-height: 30px;
  padding-left: 8px;
  float: left;
  font-size: 20px;
  font-weight: bold;
  background-color: #ddd;
  border-right: #bbb solid 2px;
}

span.icon-yesterday,
span.icon-today {
  float: right;
  background-color: #444;
  color: #fff;
  margin-top: 4px;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-radius: 12px;
}

/* Line list */

ul.LineList {
  position: sticky;
  left: 0;
  padding-top: 32px;
  width: 120px;
  background: #f8f8f8;
  z-index: 1;
}

li.LineItem {
  height: 400px;
  border-bottom: #ccc solid 2px;
  padding: 8px;
}

p.LineItem-name {
  font-size: 24px;
  margin-left: 8px;
}

img.LineItem-icon {
  display: block;
  width: 80px;
  height: 80px;
  margin: 16px auto 0;
}

/* Task list */
.TaskList {
  position: absolute;
  top: 32px;
  left: 120px;
}

.TaskItem {
  width: 440px;
  height: 400px;
  padding: 4px;
  float: left;
  background-color: #eee;
  border-right: #ccc solid 2px;
  border-bottom: #ccc solid 2px;
}

label.Content-label {
  color: #666;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.TaskItem-progress .Content {
  height: 196px;
}

.TaskItem-information .Content {
  height: 392px;
}

.Content-editingTextarea {
  background: #ffe;
  font-size: 14px;
}

.TaskItem-progress .Content-editingTextarea {
  width: 428px;
  height: 172px;
}

.TaskItem-information .Content-editingTextarea {
  width: 428px;
  height: 368px;
}

.Content-markdown {
  padding: 2px;
  background: #fff;
  border-radius: 4px;
  word-break: break-all;
  overflow-y: auto;
}

.TaskItem-progress .Content-markdown{
  height: 172px;
}

.TaskItem-information .Content-markdown{
  height: 368px;
}

.Content-markdown h1,
.Content-markdown h2,
.Content-markdown h3,
.Content-markdown h4 {
  margin-top: 4px;
  padding: 2px 0;
  border: none;
  font-weight: bold;
  color: #333;
}

.Content-markdown *:first-child {
  margin-top: 0;
}

.Content-markdown h1 {
  line-height: 22px;
  font-size: 18px;
}

.Content-markdown h2 {
  line-height: 20px;
  font-size: 16px;
}

.Content-markdown h3 {
  line-height: 18px;
  font-size: 15px;
}

.Content-markdown h4 {
  line-height: 16px;
  font-size: 14px;
}

.Content-markdown ul {
  padding: 0 0 2px 20px;
}

.Content-markdown ul li {
  list-style-type: disc;
}

.Content-markdown li ul li {
  list-style-type: circle;
}

.Content-markdown li li ul li {
  list-style-type: square;
}

.Content-markdown p {
  margin-bottom: 8px;
}

.Content-markdown blockquote {
  border-left: 4px solid #ccc;
  padding-left: 8px;
}
.Content-markdown blockquote span {
  color: #666;
}

.Notice {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  background: #eee;
  color: #888;
}

.Notice.is-error {
  background: #ebb;
  color: #833;
}
